$theme-color: #61488e;
$theme-color-bg: #cec9d6;
$footer-social-bg: #56515f;
$theme-nav-active-color: #2e1f49;
$theme-sub-title-color: #2e1f49;
$theme-link-color: #2e1f49;
$theme-border-color: #cec9d6;
$theme-portfolio-color: #a49db0;