$theme-color: #e5aa27;
$theme-color-bg: #fcf0d5;
$footer-social-bg: #716c62;
$theme-nav-active-color: #3b2f14;
$theme-sub-title-color: #3b2f14;
$theme-link-color: #3b2f14;
$theme-border-color: #fcf0d5;
$theme-portfolio-color: #fcf0d5;