$theme-color: #c8bdae;
$theme-color-bg: #f7f5f3;
$footer-social-bg: #6d6963;
$theme-nav-active-color: #898075;
$theme-sub-title-color: #444;
$theme-link-color: #5c5244;
$theme-border-color: #eeecea;
$theme-portfolio-color: #c8bdae;