$theme-color: #515a8e;
$theme-color-bg: #d8dae6;
$footer-social-bg: #53576e;
$theme-nav-active-color: #1a2146;
$theme-sub-title-color: #1a2146;
$theme-link-color: #1a2146;
$theme-border-color: #d8dae6;
$theme-portfolio-color: #9396ad;