$theme-color: #7dba61;
$theme-color-bg: #e2ecde;
$footer-social-bg: #545f4f;
$theme-nav-active-color: #263d1b;
$theme-sub-title-color: #263d1b;
$theme-link-color: #263d1b;
$theme-border-color: #e2ecde;
$theme-portfolio-color: #cbd9c5;