$theme-color: #b15b5f;
$theme-color-bg: #eadfe0;
$footer-social-bg: #6d6963;
$theme-nav-active-color: #898075;
$theme-sub-title-color: #582426;
$theme-link-color: #5c5244;
$theme-border-color: #eadfe0;
$theme-portfolio-color: #a07f82;