$theme-color: #262524;
$theme-color-bg: #f1f1f1;
$footer-social-bg: #616161;
$theme-nav-active-color: #101010;
$theme-sub-title-color: #101010;
$theme-link-color: #101010;
$theme-border-color: #f1f1f1;
$theme-portfolio-color: #f1f1f1;