$theme-color: #b25895;
$theme-color-bg: #e0d5dc;
$footer-social-bg: #836b7b;
$theme-nav-active-color: #532845;
$theme-sub-title-color: #532845;
$theme-link-color: #532845;
$theme-border-color: #e0d5dc;
$theme-portfolio-color: #ac95a4;