$theme-color: #68b0b6;
$theme-color-bg: #e4edee;
$footer-social-bg: #56696b;
$theme-nav-active-color: #183d40;
$theme-sub-title-color: #183d40;
$theme-link-color: #183d40;
$theme-border-color: #e4edee;
$theme-portfolio-color: #cbd9da;