$theme-color: #54926f;
$theme-color-bg: #d4e4db;
$footer-social-bg: #506158;
$theme-nav-active-color: #1a462d;
$theme-sub-title-color: #1a462d;
$theme-link-color: #1a462d;
$theme-border-color: #d4e4db;
$theme-portfolio-color: #d4e4db;