html, body {
  min-height: 100%;
  height: 100%;
}

:focus{
  outline: none !important;
}

body {
  background: #fff;
  color: $theme-sub-title-color;
  font-family: $font-default;
  font-size: 14px;
  line-height: 16px;
  position: relative;
}

.wrapper-content {
  min-height: 100%;
  height: auto;
}

a{
  color: $theme-link-color;
}

.page-index {
  .wrapper-content {
    position: relative;
  }
  footer{
    margin-top: -98px;
  }
}

.container,
.row {
  padding:0;
  margin: 0 auto;
}

// Google Ghrome Font Fix
// @see https://code.google.com/p/chromium/issues/detail?id=336476#c40
body {
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
  from { opacity: 1; }
  to   { opacity: 1; }
}

/*HELPERS*/
.mb-52{margin-bottom: 52px !important;}
