{% extends "application.html" %}

{% block content %}
  {% include "header.html" %}
  <section class="curriculum">
    <div class="container">
      <h3 class="ribbon">Curriculum<span></span></h3>
      <p class="ribbon-help">Curabitur gravida pharetra augue sit amet tincidunt. Morbi a mi elementum, vehicula felis nec, commodo risus. Aliquam congue dignissim tempus. Nullam pharetra urna facilisis tellus vulputate, ac vehicula quam tempus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec sollicitudin, erat et consectetur tristique, eros nulla dapibus felis, nec convallis sapien odio vitae mi. Cras vel odio turpis. Cras dignissim adipiscing leo quis sagittis. Aenean vitae turpis lectus. Suspendisse porttitor vulputate scelerisque.</p>
      <div class="curriculum-list">
        <div class="curriculum-item">
          <div class="left">
            <span class="date">2010 - present</span>
            <span class="title"><b>Graphic Designer</b> in “Corporata” L.T.D</span>
            <span class="exp">WORK EXPERIENCE</span>
          </div>
          <div class="right">
            <h3 class="curr-title">Description of my job</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae sem laoreet, mattis arcu at, lacinia ligula. Praesent bibendum eros ut nulla adipiscing, tempus tincidunt tellus scelerisque. Nullam pharetra urna facilisis tellus vulputate, ac vehicula quam tempus. Quisque quis laoreet lacus. Praesent laoreet nulla elit, et pellentesque ligula id.</p>
          </div>
        </div>

        <div class="curriculum-item">
          <div class="left">
            <span class="date">2007 - 2010</span>
            <span class="title"><b>Illustrator</b> in “New Shape” L.T.D</span>
            <span class="exp">WORK EXPERIENCE</span>
          </div>
          <div class="right">
            <h3 class="curr-title">Description of my job</h3>
            <p>Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae sem laoreet, mattis arcu at, lacinia ligula.</p>
            <p>Phasellus nec gravida purus. Aliquam ac enim vel ipsum consectetur vulputate. Duis quis feugiat neque. Pellentesque eleifend, nisi vel mattis vestibulum, est lacus pretium quam, ut faucibus lorem mi a lacus. Nulla luctus, urna eu congue pellentesque, sapien arcu interdum lorem.</p>
          </div>
        </div>
        
        <div class="curriculum-item">
          <div class="left">
            <span class="date">2006 - 2007</span>
            <span class="title"><b>Junior Graphic Designer</b> in “D-Lab” L.T.D</span>
            <span class="exp">WORK EXPERIENCE</span>
          </div>
          <div class="right">
            <h3 class="curr-title">Description of my job</h3>
            <p>Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae sem laoreet, mattis arcu at, lacinia ligula.</p>
            <p>Phasellus nec gravida purus. Aliquam ac enim vel ipsum consectetur vulputate. Duis quis feugiat neque. Pellentesque eleifend, nisi vel mattis vestibulum, est lacus pretium quam, ut faucibus lorem mi a lacus. Nulla luctus, urna eu congue pellentesque, sapien arcu interdum lorem.</p>
          </div>
        </div>

        <div class="curriculum-item">
          <div class="left">
            <span class="date">2002 - 2006</span>
            <span class="title">England State University</span>
            <span class="exp educat">Education</span>
          </div>
          <div class="right">
            <h3 class="curr-title">Description of my job</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Morbi vitae sem laoreet, mattis arcu at, lacinia ligula. Praesent bibendum eros ut nulla adipiscing, tempus tincidunt tellus scelerisque. Quisque quis laoreet lacus. Praesent laoreet nulla elit, et pellentesque ligula fermentum id. Quisque vulputate bibendum rhoncus.</p>
          </div>
        </div>

        <div class="curriculum-item">
          <div class="left">
            <span class="date">1999 - 2002</span>
            <span class="title">Scotland High School</span>
            <span class="exp educat">Education</span>
          </div>
          <div class="right">
            <h3 class="curr-title">Description of my job</h3>
            <p>Vitae sem laoreet, mattis arcu at, lacinia ligula. Praesent bibendum eros ut nulla adipiscing, tempus tincidunt tellus scelerisque. Quisque quis laoreet lacus. Praesent laoreet nulla elit, et pellentesque ligula fermentum id. Quisque vulputate bibendum rhoncus.</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- .curriculum-page -->
  {% include "footer.html" %}
{% endblock %}
