{% extends "application.html" %}

{% block content %}
  <div class="wrapper-content">
  {% include "header.html" %}
    <section class="portfolio">
      <div class="container">
        <h3 class="ribbon portfolio-ribbon">My works<span></span></h3>
        <div class="tt-grid-wrapper"
          data-message-loading="Loading out works..."
          data-message-empty="There is no any works for the moment!"
          data-message-error="Cannot load portfolio works, please try latter.">
          <div class="categories">
            <nav class="nav nav-pills"></nav>
          </div>
          <ul class="portfolio-list tt-grid"></ul>
        </div>
      </div>
    </section>
  </div>
  {% include "footer.html" %}
{% endblock %}
