$logo-line-triangle-width: 60px;
$logo-line-triangle-height: 80px;

$media-width-name: max-width;
$media-break-tablets-max: 1024px;
$media-break-tablets: 991px;
$media-break-phones: 767px;
$media-break-small: 480px;

$font-default: 'Quattrocento Sans', sans-serif;
$font-raleway: 'Raleway', Verdana, Geneva, sans-serif;
$font-lora: 'Lora', serif;